@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.7);
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #9d3e47;
  /* border: 2px solid ; */
}
body {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "array";
  src: local("Array-Regular"), url("./fonts/Array-Regular.woff") format("woff");
}
@font-face {
  font-family: "instagram";
  src: local("instagram"), url("./fonts/instagram.woff") format("woff");
}
@font-face {
  font-family: "pricedown";
  src: local("Pricedown-Regular"),
    url("./fonts/pricedown_bl.ttf") format("truetype");
}

.font-pricedown {
  font-family: "pricedown";
}

.font-array {
  font-family: "array";
}
.font-instagram {
  font-family: "instagram";
}
