
.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 5px;
    margin: 50px auto;
    /* margin-top: 70px; */
    background: white;
}

.timeline ul li::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -12.5%;
    border-radius: 100%;
    transform: translateX(-50%) rotate(45deg);
    width: 25px;
    height: 25px;
    z-index: 2;
    background: white;
    /* margin: 10px 0; */
}

.timeline ul li:nth-of-type(odd) > div {
    transform: skewX(-10deg);
    left: 145px;
}
.timeline ul li:nth-of-type(even) > div {
    transform: skewX(10deg);
    left: -545px;
}

.timeline ul li:nth-of-type(odd) > div div {
    transform: skewX(10deg);
}

.timeline ul li:nth-of-type(even) > div div {
    transform: skewX(-10deg);
}



.timeline li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    /* transform: skewY(-20deg); */

}

.timeline li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}
.timeline li.in-view div div{
    /* transform: skewX(-10deg); */
}

.bgtime{
    background-image: url("../../assets/timebg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .timeline ul li:nth-of-type(even) > div {
        left: -500px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .timeline ul li:nth-of-type(even) > div {
        left: -400px;
    }
}

@media (max-width: 767px) {
    .timeline ul li div {
        width: 70vw;
        height: 300px;
    }

    .timeline ul li:nth-of-type(even) > div {
        transform: skewX(0);

        left: -200px;
    }
    .timeline ul li:nth-of-type(odd) > div {
        transform: skewX(0);
        left: 45px;
    }

    .timeline ul li:nth-of-type(odd) > div div {
        transform: skewX(0);
    }
    
    .timeline ul li:nth-of-type(even) > div div {
        transform: skewX(0);
    }

    .timeline ul li {
        margin-left: 5px;
        /* margin: 50px; */
    }


    .timeline ul li:nth-of-type(even) > div {
        left: 45px;
    }

    
}
