.EventImage:hover + .EventContainer {
  display: block;
}
.EventContainer:hover {
  display: block;
}
.EventContainer:hover + .EventImage {
  filter: brightness(50%);
}
.EventImage:hover +.EventImage{
  filter: brightness(50%);
}

.EventImage:hover {
  filter: brightness(50%);
}
#EventContainer1{
  /* display: none; */
}

.EventContainer {
  display: none;
}

@media (max-width: 768px) {
  .EventContainer {
    max-height: 300px;
    overflow-y: scroll;
  }
}
