.GameCodexDiv {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 86%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 74% 100%, 27% 100%);
  background-color: rgba(174, 69, 79, 0.9);
}
.TextGameCodex {
  width: 50px;
}
svg {
  /* font-family: ", serif; */
  /* font-size: 18pt; */
}
.verse {
  fill: white;
  word-spacing: 2px;
  z-index: 200;
}
.verse > tspan:nth-child(2n) {
  fill: white;
}
.SocialIcons {
  border: 2px solid white;
  --tw-skew-x: -22deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  /* margin: 2px; */
}

.SocialBG {
  /* background-position:center; */
  background-image: url("../../assets/SocialBG.png");
}

.sixImage {
  background-image: url("../../assets/six.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
