.GameJamBG {
  height: 20rem;
}
.GameJamDesc {
  position: absolute;
  color: #ffffff;
  bottom: -5rem;
  left: 5%;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 32px;
  font-size: 13px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "Instagram";
}

@media only screen and (min-width: 1200px) {
  .GameJamBG {
    height: 23rem;
  }
  .GameJamDesc {
    width: 70%;
    left: 15%;
    font-size: 25px;
    bottom: -5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
