  .back{
    background-image: url(../../assets/bg.svg);
  }

  .heading{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
/* line-height: 100%; 18px */
letter-spacing: -0.72px;
  }
